server:
  port: ${PORT:8080}

spring:
  application:
    name: icqa_shein

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:*}

app:
  security:
    jwt:
      secret: ${JWT_SECRET}
      access-token-minutes: ${JWT_ACCESS_TOKEN_MINUTES:240}